@layer tailwind-base, antd;

@layer tailwind-base {
    @tailwind base;
}
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;

}

.light{
  --primary: #1677ff;
}

.dark {
  --primary: #6cc121;

}

body {
  margin: 0;
}

body, #root{
  height: inherit;
}